<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <style>
        .completed {
            text-decoration: line-through
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="addTodo(); countTodo();">新增</button>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active': visibility == 'all'}" @click="visibility = 'all'"
                            href="#">全部</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active': visibility == 'active'}" @click="visibility = 'active'"
                            href="#">進行中</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :class="{'active': visibility == 'completed'}"
                            @click="visibility = 'completed'" href="#">已完成</a>
                    </li>
                </ul>
            </div>
            <ul class="list-group list-group-flush text-left">
                <li class="list-group-item" v-for="(item, key) in filtererdTodos" @dblclick="editTodo(item)">
                    <div class="d-flex" v-if="item.id !== cacheTodo.id">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                            <label class="form-check-label" :class="{'completed': item.completed }" :for="item.id">
                                {{ item.title }}
                            </label>
                        </div>
                        <button type="button" class="close ml-auto" @click="removeTodo(item)" aria-label="Close">
                            <!-- @click="removeTodo(key)" -->
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="text" class="form-control" v-model="cacheTitle" @keyup.esc="cancelEdit()"
                        @keyup.enter="doneEdit(item)" v-if="item.id == cacheTodo.id">
                </li>
            </ul>
            <div class="card-footer d-flex justify-content-between">
                <span v-if="visibility == 'all'">還有 {{ count }} 筆任務未完成</span>
                <span v-if="visibility == 'active'">還有 {{ count }} 筆任務未完成</span>
                <span v-if="visibility == 'completed'">有 {{ finished }} 筆任務已完成</span>
                <a href="#" @click="clearTodo();">清除所有任務</a>
            </div>
        </div>
    </div>


    <script src="all.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: [{
                        id: '345',
                        title: '你好',
                        completed: false,
                    },
                    {
                        id: '456',
                        title: '你也好啊',
                        completed: true,
                    }
                ],
                cacheTodo: {},
                cacheTitle: '',
                visibility: 'all',
            },
            methods: {
                addTodo: function () {
                    var value = this.newTodo.trim(); // trim 後面需加(), 功能為 : 消除前後不必要空白不包含中間 
                    var timestamp = Math.floor(Date.now());
                    if (!value) {
                        return;
                    }
                    console.log(value, timestamp);
                    this.todos.push({
                        id: timestamp,
                        title: value,
                        completed: false
                    });
                    this.newTodo = '';

                },
                removeTodo: function (todo) { // function(key)
                    var newIndex = '';
                    var vm = this;
                    vm.todos.forEach(function (item, key) {
                        if (todo.id === item.id) {
                            newIndex = key
                        }
                    })

                    // 另一種寫法
                    // var newIndex = vm.todos.findIndex(function(item, key) {
                    //   return todo.id === item.id; 
                    // })

                    this.todos.splice(newIndex, 1);
                },
                editTodo: function (item) {
                    console.log(item);
                    this.cacheTodo = item;
                    this.cacheTitle = item.title;
                },
                cancelEdit: function () {
                    this.cacheTodo = {};
                },
                doneEdit: function (item) {
                    item.title = this.cacheTitle;
                    this.cacheTitle = '';
                    this.cacheTodo = {};
                },
                clearTodo: function () {
                    this.todos = [];
                }
            },
            computed: {
                filtererdTodos: function () {
                    if (this.visibility == 'all') {
                        return this.todos;
                    } else if (this.visibility == 'active') {
                        var newTodos = [];
                        this.todos.forEach(function (item) {
                            if (!item.completed) {
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    } else if (this.visibility == 'completed') {
                        var newTodos = [];
                        this.todos.forEach(function (item) {
                            if (item.completed) {
                                newTodos.push(item);
                            }
                        })
                        return newTodos;
                    }
                    // return [];
                },
                count: function () {
                    let count = [];
                    this.todos.forEach(function (item) {
                        if (item.completed == false) {
                            count.push(item);
                        }
                    });
                    return count.length;
                },
                finished: function () {
                    let finished = [];
                    this.todos.forEach(function (item) {
                        if (item.completed == true) {
                            finished.push(item);
                        }
                    });
                    return finished.length;
                }
            }
        });
    </script>

</body>

</html>